:host {
    width: inherit;
    height: inherit;
}

.widget-main {
    position: absolute;
    width: inherit;
    height: inherit;
    .widget-content {
        user-select: none;
        font-size: 0;
        width: inherit;
        height: inherit;
        overflow: hidden;
        &.picture {
            line-height: initial !important;
        }
    }
}

.text-overflow-hidden {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.widget-image {
    border-radius: inherit;
}

// 辅助线样式
.free-auxiliartline-style {
    border-top-color: inherit;
    border-top-style: inherit;
    border-top-width: inherit;
}

.combination-container {
    position: absolute;
    width: inherit;
    height: inherit;
    user-select: none;
    font-size: 0;
    .widget-shell {
        position: absolute;
        pointer-events: none;
    }
}

.link-range {
    width: 100%;
    height: 100%;
    display: block;
    background: #03e59b;
    opacity: 0.3;
}

.vessel-tip {
    position: absolute;
    font-size: 12px;
    z-index: 1;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    color: #fff;
    padding: 10px;
    border-radius: 4px 0 0 0;
    line-height: 12px;
}
