$normalColor: #263646;
$grayColor: #a9afb8;
$fontColor: #525e71;
$hoverColor: #d1dbe5;

// 蓝色
$buttonColor: #108ee9;

// 头部导航的高度和行高
$topHeight: 50px;

// 顶部
// $aside_top_bg_color: #393e46;
$aside_top_bg_color: #fff;
// $aside_top_font_color: #fff;
$aside_top_font_color: #393e46;
$aside_top_height: 50px;

// 左侧
// $aside_left_bg_color: #393e46;
$aside_left_bg_color: #fff;
// $aside_left_widget_bg_color: #222831;
$aside_left_widget_bg_color: #f5f8fb;
// $aside_left_widget_font_color: #fff;
$aside_left_widget_font_color: #393e46;
$aside_left_widget_border_color: #fff;
$aside_left_widget_hover_border_color: #393e46;
// $aside_left_quick_shortcuts_bg_color: #393e46;
$aside_left_quick_shortcuts_bg_color: #fff;
$aside_left_quick_shortcuts_icon_color: #393e46;

// 右侧
$aside_right_bg_color: #fff;
