<div class="panel-assist-arbor-main">
    <div class="arbor-container">
        <ul class="item-ul">
            <li class="item-li">
                <div class="block" (click)="handleMoveBack('back')" [class.disable]="!isBack">
                    <i nzTooltipTitle="撤销" nzTooltipPlacement="left" nz-tooltip class="iconfont_xiaochengxu xiaochengxu-icon--"></i>
                </div>
            </li>
            <li class="item-li">
                <div class="block" (click)="handleMoveBack('move')" [class.disable]="!isMove">
                    <i
                        nzTooltipTitle="前进"
                        nzTooltipPlacement="left"
                        nz-tooltip
                        class="iconfont_xiaochengxu xiaochengxu-icon--1"
                    ></i>
                </div>
            </li>
            <li class="item-li">
                <!-- 操作 -->
                <app-assist-arbor-operation></app-assist-arbor-operation>
            </li>
            <li class="divider-li">
                <nz-divider></nz-divider>
            </li>
            <li class="item-li">
                <!-- 对齐 -->
                <app-assist-arbor-alignment></app-assist-arbor-alignment>
            </li>
            <li class="item-li">
                <!-- 图层 -->
                <app-assist-arbor-layer></app-assist-arbor-layer>
            </li>
            <li class="item-li" (click)="createCombination()">
                <div class="block" [class.disable]="!isCombination">
                    <i nzTooltipTitle="组合" nzTooltipPlacement="left" nz-tooltip class="iconfont_xiaochengxu xiaochengxu-zuhe"></i>
                </div>
            </li>
            <li class="item-li" (click)="disperseCombination()">
                <div class="block" [class.disable]="!isDisperse">
                    <i nzTooltipTitle="打散" nzTooltipPlacement="left" nz-tooltip class="iconfont_xiaochengxu xiaochengxu-dasan"></i>
                </div>
            </li>
            <!-- <li class="divider-li">
				<nz-divider></nz-divider>
			</li> -->
        </ul>
    </div>
    <!-- <div class="arbor-footer">
		<div class="recy-opertar"
			[nzTitle]="'页面回收站'"
			nzPlacement="left"
			nz-tooltip>
			<i class="iconfont_xiaochengxu xiaochengxu-huishouzhanxin"></i>
		</div>
	</div> -->
</div>
