<!-- 快捷键的弹窗 -->
<nz-modal
	[(nzVisible)]="isShowQuickModal"
	nzTitle="快捷键"
	[nzFooter]="null"
	(nzOnCancel)="isShowQuickModal = false"
	nzWidth="640"
>
	<app-panel-soul-quick-shortcuts-modal></app-panel-soul-quick-shortcuts-modal>
</nz-modal>

<!-- 新建动态容器弹窗 -->
<nz-modal
	[(nzVisible)]="isVisiableNewVesselModal"
	nzTitle="新建动态容器"
	nzWidth="420"
	(nzOnCancel)="acceptVesselCloseModal()"
	(nzOnOk)="acceptVesselOk()"
>
	<app-panel-add-new-vessel-widget-modal></app-panel-add-new-vessel-widget-modal>
</nz-modal>

<div class="soul-main">
	<div class="widget-tabset">
		<nz-tabset
			[nzTabPosition]="'top'"
			[nzType]="'card'"
			[nzAnimated]="true"
			[nzTabBarStyle]="{ width: '100%' }"
			[(nzSelectedIndex)]="currentTabsIndex"
			[nzShowPagination]="false"
		>
			<nz-tab [nzTitle]="'组件'">
				<div class="component-library">
					<!-- 组件库 -->
					<nz-row nzGutter="16">
						<ng-container *ngFor="let list of fixedWidgetList">
							<nz-col nzSpan="12" *ngIf="list.type != 'combination'">
								<div class="widgte-block" (mousedown)="acceptWidgetDown(list)">
									<i class="iconfont_xiaochengxu {{ list.icon }}"></i>
									<span>{{ list.name }}</span>
								</div>
							</nz-col>
						</ng-container>
					</nz-row>
				</div>
			</nz-tab>
			<!-- <nz-tab [nzTitle]="'组合'">
					<div class="component-library">
						<ul class="item-ul">
							<span>即将开放</span>
						</ul>
					</div>
				</nz-tab> -->
			<nz-tab [nzTitle]="'部件'" *ngIf="!isEnterEditVesselCondition">
				<div class="component-library">
					<!-- 部件-->
					<nz-row nzGutter="16">
						<ng-container *ngFor="let list of fixedWidgetUnitList">
							<nz-col nzSpan="12">
								<div class="widgte-block" (mousedown)="acceptWidgetDown(list)">
									<i class="iconfont_xiaochengxu {{ list.icon }}"></i>
									<span>{{ list.name }}</span>
								</div>
							</nz-col>
						</ng-container>
					</nz-row>
				</div>
			</nz-tab>
			<nz-tab [nzTitle]="'动态容器'" *ngIf="!isEnterEditVesselCondition">
				<div class="component-library place-holder">
					<!-- 头部新建 -->
					<div class="header-add-btn">
						<div class="add" (click)="addNewVesselWidget()">
							<i nz-icon type="plus-circle" theme="outline" class="mr-5 fs-14"></i>
							<span>新建</span>
						</div>
						<div class="problem">
							<!-- <i nz-icon type="question-circle" theme="outline" class="color-f70 fs-14"></i> -->
						</div>
					</div>
					<nz-divider></nz-divider>
					<!-- 动态容器列表 -->
					<div class="dynamic-container-item">
						<nz-row nzGutter="16">
							<!-- <ng-container *ngFor="let list of fixedWidgetVesselList">
								<nz-col nzSpan="12">
									<div class="widgte-block" (mousedown)="acceptWidgetDown(list)">
										<i class="iconfont_xiaochengxu {{list.icon}}"></i>
										<span>{{list.name}}</span>
									</div>
								</nz-col>
							</ng-container> -->
						</nz-row>
					</div>
				</div>
			</nz-tab>
		</nz-tabset>
	</div>

	<!-- 底部 -->
	<div class="soul-footer">
		<div class="block">
			<i
				(click)="acceptQuickShortcuts()"
				class="iconfont_xiaochengxu xiaochengxu-jianpanshuru"
				nzTitle="快捷键"
				nzPlacement="top"
				nz-tooltip
			></i>
		</div>
	</div>
</div>
