@import "src/app/public/theme/variables.scss";

.soul-main {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	.widget-tabset {
        height: 100%;
        background-color: #fff;
		.component-library {
			.widgte-block {
				border: 1px dashed $aside_left_widget_border_color;
				height: 60px;
				display: flex;
				align-items: center;
				justify-content: center;
				cursor: pointer;
				transition: all 0.25s;
				background-color: $aside_left_widget_bg_color;
				margin-bottom: 15px;
				flex-direction: column;
				color: $aside_left_widget_font_color;
				&:hover {
					border: 1px solid $aside_left_widget_hover_border_color;
				}
			}
		}
	}
	.soul-footer {
		height: 40px;
		display: flex;
		align-items: center;
		justify-content: space-around;
		background-color: $aside_left_quick_shortcuts_bg_color;
		box-shadow: 0px 0px 6px -1px #e6e6e6;
		z-index: 1;
		.block {
			cursor: pointer;
			i {
				font-size: 20px;
				color: $aside_left_quick_shortcuts_icon_color;
			}
		}
	}
}

:host ::ng-deep {
	background: #f5f5f5;
	overflow: hidden;
	display: block;
	height: 100%;
	.ant-tabs-nav {
		width: 100%;
	}
	.ant-tabs-card .ant-tabs-content {
		height: 100%;
		margin-top: -16px;
	}
	.ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
		background: $aside_left_bg_color;
		padding: 16px;
		height: 100%;
	}
	.ant-tabs-card .ant-tabs-bar {
		border-color: #fff;
	}
	.ant-tabs-card .ant-tabs-bar .ant-tabs-tab {
		border-color: transparent;
		background: transparent; // width: 50%;
		text-align: center;
	}
	.ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
		border-color: #fff;
		background: #fff;
	}
	.ant-divider-horizontal {
		margin: 16px 0;
	}
}

// 动态容器样式
.place-holder {
	.header-add-btn {
		display: flex;
		justify-content: space-between;
		.add {
			cursor: pointer;
		}
	}
}

.width-100 {
	width: 100%;
}
