<div class="panel-shadow-main">
	<!-- 颜色 -->
	<div class="font-size mt-10">
		<nz-row nzType="flex" nzAlign="middle">
			<nz-col nzSpan="5">
				颜色
			</nz-col>
			<nz-col nzSpan="19">
				<app-my-color-picker
					[isDefaultColor]="false"
					[size]="'small'"
					[(ngModel)]="panelShadow.color"
					[panelPosition]="'left'"
				></app-my-color-picker>
			</nz-col>
		</nz-row>
	</div>
	<!-- 输入框 -->
	<div class="font-size mt-10">
		<nz-row nzType="flex" nzAlign="middle" nzGutter="6" nzJustify="space-between">
			<nz-col nzSpan="6">
				<nz-input-number style="width:100%" [nzSize]="'small'" [(ngModel)]="panelShadow.x" [nzStep]="1">
				</nz-input-number>
			</nz-col>
			<nz-col nzSpan="6">
				<nz-input-number style="width:100%" [nzSize]="'small'" [(ngModel)]="panelShadow.y" [nzStep]="1">
				</nz-input-number>
			</nz-col>
			<nz-col nzSpan="6">
				<nz-input-number
					style="width:100%"
					[nzSize]="'small'"
					[(ngModel)]="panelShadow.fuzzy"
					[nzMin]="0"
					[nzStep]="1"
				>
				</nz-input-number>
			</nz-col>
			<nz-col nzSpan="6">
				<nz-input-number style="width:100%" [nzSize]="'small'" [(ngModel)]="panelShadow.spread" [nzStep]="1">
				</nz-input-number>
			</nz-col>
		</nz-row>
	</div>

	<!-- 文字 -->
	<div class="font-size mt-10">
		<nz-row nzType="flex" nzAlign="middle" nzJustify="center">
			<nz-col nzSpan="6" class="t-c">
				<span>X</span>
			</nz-col>
			<nz-col nzSpan="6" class="t-c">
				<span>Y</span>
			</nz-col>
			<nz-col nzSpan="6" class="t-c">
				<span>模糊</span>
			</nz-col>
			<nz-col nzSpan="6" class="t-c">
				<span>扩散</span>
			</nz-col>
		</nz-row>
	</div>
</div>
