<div class="soul-main">
	<nz-tabset [nzTabPosition]="'top'" [nzType]="'card'" [nzTabBarStyle]="{ width: '100%' }" [nzShowPagination]="false">
		<nz-tab [nzTitle]="'页面'">
			<div class="catalogue-main">
				<app-panel-catalogue></app-panel-catalogue>
			</div>
		</nz-tab>
		<nz-tab [nzTitle]="'图层'">
			<div class="layer-main">
				<!-- 图层 -->
				<ul class="item-ul">
					<ng-container *ngFor="let list of layerWidgetList$ | async; index as i">
						<li class="item-li">
							<div
								class="item-container-li"
								[class.hover]="list.isHover"
								[class.active]="list.isActive"
								(click)="checkLayer(list, $event)"
								nrMouseMoveOut
								(emitMouseType)="acceptMouseMoveOut($event, list)"
							>
								<div class="left">
									<ng-container *ngIf="list.widget.autoWidget.type == 'combination'">
										<i
											nz-icon
											type="caret-down"
											theme="outline"
											class="freecombination-drop-icon"
											[class.down]="list.isDropDown"
											(click)="acceptCombinationWidget(list)"
										></i>
									</ng-container>
									<ng-container *ngIf="list.widget.autoWidget.type != 'combination'">
										<i class="iconfont_xiaochengxu {{ list.widget.icon }}"></i>
									</ng-container>
									<span>{{ list.widget.name }}</span>
								</div>
								<div class="right">
									<span nz-tooltip nzTitle="删除">
										<i
											nz-icon
											type="delete"
											theme="outline"
											(click)="deleteLayer(list, $event)"
										></i>
									</span>
								</div>
							</div>
							<!-- 组合组件图层内列表 -->
							<ul class="item-ul" *ngIf="list.widget.autoWidget.type == 'combination' && list.isDropDown">
								<ng-container *ngFor="let coms of list.combinationWidgetList; index as c">
									<li class="item-li">
										<div
											class="item-container-li"
											style="padding-left: 30px"
											[class.hover]="coms.isHover"
											[class.active]="coms.isActive"
											(click)="checkLayer(coms, $event)"
											nrMouseMoveOut
											(emitMouseType)="acceptMouseMoveOut($event, coms)"
										>
											<div class="left">
												<i class="iconfont_xiaochengxu {{ coms.widget.icon }}"></i>
												<span>{{ coms.widget.name }}</span>
											</div>
											<div class="right">
												<span nz-tooltip nzTitle="删除">
													<i
														nz-icon
														type="delete"
														theme="outline"
														(click)="deleteLayer(coms, $event)"
													></i>
												</span>
											</div>
										</div>
									</li>
								</ng-container>
							</ul>
						</li>
					</ng-container>
				</ul>
			</div>
		</nz-tab>
	</nz-tabset>
</div>
