.freecombination-drop-icon {
	transform: scale(0.8) rotate(-90deg);
	&.down {
		transform: scale(0.8);
	}
}

.soul-main {
	height: 100%;
	width: 100%;
	.layer-main {
		height: calc(100% - 40px);
		overflow-y: auto;
		margin-right: -15px;
		overflow-x: hidden;
		padding-top: 16px;
		.item-ul {
			.item-li {
				.item-container-li {
					padding: 8px 10px;
					padding-right: 15px;
					cursor: pointer;
					display: flex;
					align-items: center;
					justify-content: space-between;
					.left {
						i {
							font-size: 12px;
							margin-right: 8px;
						}
					}
					.right {
						display: none;
					}
					&:hover {
						.right {
							display: inline-block;
						}
					}
					&.hover {
						background-color: #f7f7fa;
					}
					&.active {
						color: #415058;
						font-weight: 700;
						background-color: #f1f1f5;
					}
				}
			}
		}
	}
}

:host ::ng-deep {
	background: #f5f5f5;
	overflow: hidden;
	display: block;
	height: 100%;
	.ant-tabs {
        height: 100%;
        background-color: #fff;
	}
	.ant-tabs-nav {
		width: 100%;
	}
	.ant-tabs-card .ant-tabs-content {
		// height: 100%;
		margin-top: -16px;
	}
	.ant-tabs-card .ant-tabs-content .ant-tabs-tabpane {
		background: #fff;
		padding: 16px;
		padding-top: 0;
		height: 100%;
	}
	.ant-tabs-card .ant-tabs-bar {
		border-color: #fff;
	}
	.ant-tabs-card .ant-tabs-bar .ant-tabs-tab {
		border-color: transparent;
		background: transparent;
		width: 50%;
		text-align: center;
	}
	.ant-tabs-card .ant-tabs-bar .ant-tabs-tab-active {
		border-color: #fff;
		background: #fff;
	}
}
