$soulWidth: 200px;
$layerWidth: 220px;
.panel-extend-container {
	display: flex;
	height: 100%;
	width: 100%;
}

.extend-soule,
.extend-layer {
	flex: 1;
	width: $layerWidth;
	min-width: $layerWidth;
	max-width: $layerWidth;
	flex-basis: $layerWidth;
	box-shadow: 0 -2px 30px 0 rgba(39, 54, 78, 0.11);
}

.extend-soule {
	width: $soulWidth;
	min-width: $soulWidth;
	max-width: $soulWidth;
	flex-basis: $soulWidth;
}

.extend-layer {
	box-shadow: 1px 0px 8px -1px rgba(39, 54, 78, 0.11);
}

.extent-layer-arbor {
	flex: 1;
	width: 40px;
	min-width: 40px;
	max-width: 40px;
	flex-basis: 40px;
	background-color: #fff;
	box-shadow: 0 -2px 30px 0 rgba(39, 54, 78, 0.11);
}

.extend-main {
	position: relative;
	width: 100%;
	height: 100%;
	&.space-key {
		cursor: grab;
		&.space-key-mousedown {
			cursor: grabbing;
		}
	}
	.header {
		position: absolute;
		left: 10px;
		top: 10px;
		z-index: 1;
		.nz-btn {
			border-radius: 100px;
			margin-right: 10px;
		}
	}
	.appearance-main {
	}
	.container {
		height: 100%;
		.free-panel-main {
			display: flex;
			height: 100%;
			align-items: center;
			justify-content: center;
			position: absolute;
			overflow: hidden;
			left: 0;
			top: 0;
			right: 0;
			bottom: 0;
			.panel {
				position: absolute;
				width: 414px;
				height: 200px;
				background-color: #fff;
				.widget-shell {
					position: absolute;
					cursor: pointer;
				}
				.zoom-area,
				.no-zoom-area {
					width: 100%;
					height: 100%;
				}
				.zoom-area {
					position: absolute;
					top: 0;
					left: 0;
					z-index: 99;
					background-color: #fff;
					box-shadow: 0 0 0 1px #d9d9d9;
				}
				.no-zoom-area {
					position: absolute;
					pointer-events: none;
					left: 0;
					top: 0;
					z-index: 100;
				}
			}
		}
	}
}

// 可选区域的样式
.selection-rect {
	position: fixed;
	background: rgba(38, 168, 255, 0.1);
	outline: 1px solid #1e98ea;
	z-index: 1;
	pointer-events: none;
	.rect-content {
	}
}

.canvas-scaleplate {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	pointer-events: none;
}

.await-widget {
	position: fixed;
	z-index: 99999 !important;
}

.panel-shell {
	bottom: -45px;
	position: absolute;
	left: -15px;
	top: -15px;
	right: -15px;
	background-color: #fdfdfd;
	border-radius: 4px;
	border: 2px dashed #d9d9d9;
	.tabbar-view {
		position: absolute;
		bottom: 10px;
	}
	.tarbar-hide-show {
		pointer-events: all;
		position: absolute;
		bottom: 50px;
		right: -120px;
		display: flex;
		align-items: center;
		cursor: pointer;
		i {
			font-size: 14px;
			margin-right: 5px;
			border: 1px solid #ccc;
			border-radius: 50%;
			padding: 5px;
			background-color: #f5f8fb;
			color: #333;
		}
	}
	.bottom-container {
		position: absolute;
		bottom: 5px;
		height: 32px;
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		pointer-events: all;
		cursor: ns-resize;
		padding: 0 12px;
		.change-bg-color {
			width: 42px;
		}
		.drapdrop-down-up {
			.text {
				margin: 0 5px;
			}
			i {
				font-size: 14px;
				color: #ff7700;
			}
		}
		.change-bg-img {
			i {
				font-size: 22px;
				color: #666;
			}
		}
	}
}

.vessel-zoom-area {
	background-size: 20px 20px;
	background-position: 0 10px, 10px 20px;
	background-clip: content-box;
	background-image: -o-linear-gradient(45deg, #d9d9d9 26%, transparent 25%, transparent 74%, #d9d9d9 74%, #d9d9d9),
		-o-linear-gradient(45deg, #d9d9d9 25%, transparent 25%, transparent 75%, #d9d9d9 75%, #d9d9d9);
	background-image: linear-gradient(45deg, #d9d9d9 26%, transparent 25%, transparent 74%, #d9d9d9 74%, #d9d9d9),
		linear-gradient(45deg, #d9d9d9 25%, transparent 25%, transparent 75%, #d9d9d9 75%, #d9d9d9);
	background-color: #f0f0f0;
}
