// 自定义滚动条的样式文件
.track-main {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    pointer-events: none;
    .x-track {
        position: absolute;
        pointer-events: auto;
        height: 12px;
        background-color: transparent;
        left: 0;
        right: 12px;
        bottom: 0px;
        .x-handler {
            position: absolute;
            cursor: pointer;
            bottom: 2px;
            height: 10px;
            &:hover {
                .x-scroll-bar {
                    background-color: #bec3c5;
                }
            }
            .x-scroll-bar {
                position: absolute;
                pointer-events: none;
                bottom: 0;
                width: 100%;
                height: 6px;
                background-color: #d2d2d8;
                border-radius: 4px;
                transition: background 0.2s ease-in-out;
            }
        }
    }
    .y-track {
        pointer-events: auto;
        position: absolute;
        background: transparent;
        top: 0;
        bottom: 12px;
        right: 0;
        width: 12px;
        .y-handler {
            position: absolute;
            cursor: pointer;
            right: 2px;
            width: 10px;
            &:hover {
                .y-scroll-bar {
                    background-color: #bec3c5;
                }
            }
            .y-scroll-bar {
                position: absolute;
                pointer-events: none;
                right: 0;
                height: 100%;
                width: 6px;
                background: #dedee4;
                border-radius: 4px;
                transition: background 0.2s ease-in-out;
            }
        }
    }
}
