.mb-ruler {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
    pointer-events: none;
    font-size: 12px;
    overflow: hidden;
    .h-container {
        position: absolute;
        left: 16px;
        top: 0;
        width: calc(100% - 16px);
        height: 17px;
        border-bottom: 1px solid #dadadc;
    }
    .v-container {
        position: absolute;
        top: 16px;
        left: 0;
        width: 17px;
        height: calc(100% - 16px);
        border-right: 1px solid #dadadc;
    }
    .ruler {
        width: 100%;
        height: 100%;
        pointer-events: auto;
    }
    .temporary-line {
        position: absolute;
        pointer-events: none;
        background-color: #ff7700;
        &.tem-h {
            top: 0;
            width: 1px;
            height: 100vw;
            span {
                position: absolute;
                display: inline;
                white-space: nowrap;
                background-color: #fff;
                left: 6px;
                font-size: 12px;
                top: -1px;
            }
        }
        &.tem-v {
            left: 0;
            width: 100vw;
            height: 1px;
            span {
                position: absolute;
                top: -20px;
                background-color: #fff;
                left: 4px;
            }
        }
    }
    .lines {
        .line {
            position: absolute;
            .action {
                position: absolute;
                display: flex;
                align-items: center;
                justify-content: space-between;
                white-space: nowrap;
                color: #666;
                .del {
                    cursor: pointer;
                }
            }
            &.line-h {
                top: 0;
                width: 4px;
                border-left: 1px solid #ff7700;
                height: 100vw;
                cursor: ew-resize;
                .action {
                    top: 16px;
                    transform: translateX(-12px);
                    .del {
                        margin-right: 10px;
                    }
                }
            }
            &.line-v {
                left: 0;
                width: 100vw;
                height: 4px;
                border-top: 1px solid #ff7700;
                cursor: ns-resize;
                .action {
                    flex-direction: column;
                    left: 20px;
                    top: -4px;
                    transform: translateY(-12px);
                }
            }
        }
    }
}

.menu-block-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    background-color: #5b6b73;
    pointer-events: all;
    i {
        font-size: 12px;
        color: #fff;
        font-weight: bold;
        cursor: pointer;
    }
}

.dropdown-ul {
    margin: -2px -10px;
    .dropdown-li {
        cursor: pointer;
        &:hover {
            .dropdown-block {
                background: #f5f8fb;
                span {
                    color: #1e98ea;
                }
                &.disable {
                    span {
                        color: #ccc;
                    }
                }
            }
        }
        .dropdown-block {
            height: 32px;
            padding-left: 10px;
            padding-right: 12px;
            border-radius: 2px;
            font-size: 12px;
            display: flex;
            align-items: center;
            color: #5b6b73;
            margin-bottom: 4px;
            i {
                margin-right: 8px;
                font-size: 16px;
            }
        }
    }
}
