:host ::ng-deep {
    .ant-input-number-handler-wrap {
        display: none;
    }
}

.filter-main {
    .filter-container {
        .input-number {
            width: 43px;
            margin-left: 5px;
        }
    }
}
