<!-- 该组件用户展示已有组件的事件详情信息，不能编辑，仅展示 -->
<div class="event-info" *ngIf="currentWidgetHasEventHandler">
    <ng-container [ngSwitch]="currentWidgetHasEventHandler.eventHandler">
        <!-- 跳转某产品详情 -->
        <ng-container *ngSwitchCase="'tapProductDetailHandler'">
            跳转至
            <span class="color-f70">{{ currentWidgetHasEventHandler.eventParams.name }}</span>
            产品详情
        </ng-container>

        <!-- 跳转地图 -->
        <ng-container *ngSwitchCase="'tapToMapHandler'">
            导航至
            <span class="color-f70">{{ currentWidgetHasEventHandler.eventParams.desc }}</span>
        </ng-container>

        <!-- 跳转页面 -->
        <ng-container *ngSwitchCase="'tapNavigateHandler'">
            跳转至
            <span class="color-f70">
                {{ conversionPageRouterName(currentWidgetHasEventHandler.eventParams.nav_url) }}
            </span>
            页面
        </ng-container>

        <!-- 拨打电话 -->
        <ng-container *ngSwitchCase="'tapCallHandler'">
            拨打电话
            <span class="color-f70">{{ currentWidgetHasEventHandler.eventParams.phone_num }}</span>
        </ng-container>

        <!-- 切换状态 -->
        <ng-container *ngSwitchCase="'tapVesselStatusHandler'">
            切换状态至
            <span class="color-f70">
                {{ conversionVesselStatusName(currentWidgetHasEventHandler.eventParams.to_status_id) }}
            </span>
        </ng-container>
    </ng-container>
</div>
