.features-handler-main {
    padding: 12px;
    height: 340px;
    max-height: 340px;
    border: 1px solid #eee;
    display: flex;
    align-items: center;
    .divider {
        height: 80%;
    }
    .arbor-left {
        max-width: 200px;
        height: 100%;
        flex: 1;
        .container {
            height: 100%;
            overflow-y: scroll;
            width: 220px;
            padding-right: 20px;
            ul {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                li {
                    width: 90px;
                    height: 90px;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: CENTER;
                    justify-content: center;
                    cursor: pointer;
                    border: 1px solid #999;
                    .block {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                    }
                    &.active {
                        border-color: #1890ff;
                    }
                }
            }
        }
    }
    .arbor-right {
        height: 100%;
        flex: 1;
    }
}
