<div class="features-handler-main">
    <!-- 左侧的可选功能 -->
    <div class="arbor-left">
        <div class="container">
            <ul>
                <li
                    *ngFor="let list of handlePrepareList"
                    [class.active]="list.type == currentFeatures"
                    (click)="acceptPrepareCheck(list)"
                >
                    <div class="block">
                        <i class="iconfont_xiaochengxu {{ list.icon }}"></i>
                        <span class="name">{{ list.name }}</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <!-- 右侧的关于后一个功能的具体设置项 -->
    <div class="arbor-right">
        <app-map-handler></app-map-handler>
    </div>
</div>
