.senior-vessel-edit-main {
	position: relative;
	.exit-btn {
		position: absolute;
		left: 40px;
		top: 30px;
		z-index: 10;
		display: flex;
		align-items: center;
		background-color: #5b6b73;
		border-radius: 25px;
		padding: 6px 10px;
		cursor: pointer;
		i {
			font-size: 18px;
			color: #ffffff;
		}
		span {
			color: #fff;
		}
	}
	.widget-container {
		position: absolute;
		cursor: pointer;
		z-index: 1;
		background-size: 20px 20px;
		background-position: 0 10px, 10px 20px;
		background-clip: content-box;
		background-image: -o-linear-gradient(45deg, #d9d9d9 26%, transparent 25%, transparent 74%, #d9d9d9 74%, #d9d9d9),
			-o-linear-gradient(45deg, #d9d9d9 25%, transparent 25%, transparent 75%, #d9d9d9 75%, #d9d9d9);
		background-image: linear-gradient(45deg, #d9d9d9 26%, transparent 25%, transparent 74%, #d9d9d9 74%, #d9d9d9),
			linear-gradient(45deg, #d9d9d9 25%, transparent 25%, transparent 75%, #d9d9d9 75%, #d9d9d9);
		background-color: #f0f0f0;
	}
}
