<div class="animation-panel">
    <!-- 效果展示 -->
    <div class="effect-show" [ngStyle]="panelAnimationModel.showStyleContent">效果展示</div>
    <!-- 动效 -->
    <div class="animation">
        <nz-row nzType="flex" nzAlign="middle">
            <nz-col nzSpan="5">
                动效
            </nz-col>
            <nz-col nzSpan="19">
                <nz-select
                    [(ngModel)]="panelAnimationModel.animationName"
                    nzSize="small"
                    class="select-option"
                    (ngModelChange)="acceptSelectChange()"
                >
                    <ng-container *ngFor="let list of awaitAnimationOptions">
                        <nz-option [nzValue]="list.value" [nzLabel]="list.label"></nz-option>
                    </ng-container>
                </nz-select>
            </nz-col>
        </nz-row>
    </div>
    <!-- 延时 -->
    <div class="animation mt-10">
        <nz-row nzType="flex" nzAlign="middle">
            <nz-col nzSpan="5">
                延时
            </nz-col>
            <nz-col nzSpan="19">
                <nz-select
                    [(ngModel)]="panelAnimationModel.animationDelay"
                    nzSize="small"
                    class="select-option"
                    (ngModelChange)="acceptSelectChange()"
                >
                    <ng-container *ngFor="let list of animationLabelDelayOptions">
                        <nz-option [nzValue]="list.value" [nzLabel]="list.label"></nz-option>
                    </ng-container>
                </nz-select>
            </nz-col>
        </nz-row>
    </div>
    <!-- 时长 -->
    <div class="animation mt-10">
        <nz-row nzType="flex" nzAlign="middle">
            <nz-col nzSpan="5">
                时长
            </nz-col>
            <nz-col nzSpan="19">
                <nz-select
                    [(ngModel)]="panelAnimationModel.animationDuration"
                    nzSize="small"
                    class="select-option"
                    (ngModelChange)="acceptSelectChange()"
                >
                    <ng-container *ngFor="let list of animationLabelDurationOptions">
                        <nz-option [nzValue]="list.value" [nzLabel]="list.label"></nz-option>
                    </ng-container>
                </nz-select>
            </nz-col>
        </nz-row>
    </div>
    <!-- 重复 -->
    <div class="animation mt-10">
        <nz-row nzType="flex" nzAlign="middle">
            <nz-col nzSpan="5">
                重复
            </nz-col>
            <nz-col nzSpan="19">
                <nz-select
                    [(ngModel)]="panelAnimationModel.animationIterationCount"
                    nzSize="small"
                    class="select-option"
                    (ngModelChange)="acceptSelectChange()"
                >
                    <ng-container *ngFor="let list of animationIterationCountOptions">
                        <nz-option [nzValue]="list.value" [nzLabel]="list.label"></nz-option>
                    </ng-container>
                </nz-select>
            </nz-col>
        </nz-row>
    </div>
</div>
