<div class="button-site-main">
	<!-- 文本设置 -->
	<div class="text-site">
		<nz-collapse [nzBordered]="false">
			<nz-collapse-panel [nzHeader]="'文本'" [nzActive]="true">
				<app-panel-widget-text
					[widget]="widget"
					(launchEmitTextValueChange)="acceptTextSiteValueChange($event)"
				></app-panel-widget-text>
			</nz-collapse-panel>
		</nz-collapse>
	</div>

	<!-- 外观设置 -->
	<div class="facade-site">
		<nz-collapse [nzBordered]="false">
			<nz-collapse-panel [nzHeader]="'外观'" [nzActive]="true">
				<app-panel-widget-facade
					[widget]="widget"
					(launchEmitFacadeValueChange)="acceptFacadeValueChange($event)"
				></app-panel-widget-facade>
			</nz-collapse-panel>
		</nz-collapse>
	</div>

	<!-- 阴影设置 -->
	<div class="shadow-site">
		<nz-collapse [nzBordered]="false">
			<nz-collapse-panel [nzHeader]="'阴影'" [nzActive]="true">
				<app-panel-widget-shadow [widget]="widget"></app-panel-widget-shadow>
			</nz-collapse-panel>
		</nz-collapse>
	</div>
</div>
