.navigation-main {
    height: 65px;
    background-color: transparent;
    position: relative;
    .header-info {
        display: flex;
        justify-content: space-between;
        height: 20px;
        align-items: center;
        padding: 0 6px;
        color: #fff;
        .wechat-signal {
            display: flex;
            align-items: center;
            .point-container {
                i {
                    font-size: 24px;
                }
            }
            .wifi-container {
            }
        }
        .battery-content {
            display: flex;
            align-items: center;
            span {
                line-height: 22px;
                margin-right: 4px;
            }
            i {
                font-size: 24px;
            }
        }
    }
    .bar-name-container {
        display: flex;
        justify-content: center;
        height: 45px;
        align-items: center;
        font-size: 14px;
        .title {
            max-width: 220px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }
    .capsule-btn {
        position: absolute;
        right: 10px;
        top: 26px;
        .capsule-box {
            border: 1px solid #4c4c4c;
            border-radius: 100px;
            padding: 0px 8px;
            background-color: rgba(0, 0, 0, 0.1);
            color: #fff;
            display: flex;
            align-items: center;
            height: 32px;
            width: 90px;
            justify-content: space-between;
            .line {
                background-color: #4c4c4c;
                width: 1px;
                height: 60%;
            }
        }
    }
}
