<div class="navigation-main" [ngStyle]="{ 'background-color': navigationWidgetModel.bgColor }">
	<!-- 头部信息拦 -->
	<div class="header-info">
		<!-- 信号源图标 -->
		<div class="wechat-signal">
			<div class="point-container mr-2">
				<i class="iconfont_xiaochengxu xiaochengxu-diandiandian-"></i>
				<i class="iconfont_xiaochengxu xiaochengxu-diandiandian-"></i>
			</div>
			<div class="wifi-container">
				<i class="iconfont_xiaochengxu xiaochengxu-wifi"></i>
			</div>
		</div>
		<!-- 中间的时间 -->
		<div class="current-time">
			{{ currentNowDate | date: "HH:mm" }}
		</div>
		<!-- 右侧的电池图标 -->
		<div class="battery-content">
			<span>100%</span>
			<i class="iconfont_xiaochengxu xiaochengxu-dianliang"></i>
		</div>
	</div>

	<!-- 标题名称 -->
	<div class="bar-name-container">
		<span class="title" [ngStyle]="{ color: navigationWidgetModel.frontColor }">
			{{ currentPageInfo.customfeature.title }}
		</span>
	</div>

	<!-- 胶囊按钮图标 -->
	<div class="capsule-btn">
		<div class="capsule-box">
			<i class="iconfont_xiaochengxu xiaochengxu-diandiandian fs-12"></i>
			<span class="line mr-5"></span>
			<i class="iconfont_xiaochengxu xiaochengxu-yuandian fs-24"></i>
		</div>
	</div>
</div>
