<div class="rect-site-main">
	<!-- 外观设置 -->
	<div class="facade-site">
		<nz-collapse [nzBordered]="false">
			<nz-collapse-panel [nzHeader]="'外观'" [nzActive]="true">
				<app-panel-widget-facade
					[widget]="widget"
					(launchEmitFacadeValueChange)="acceptFacadeValueChange($event)"
				></app-panel-widget-facade>
			</nz-collapse-panel>
		</nz-collapse>
	</div>

	<!-- 阴影设置 -->
	<div class="shadow-site">
		<nz-collapse [nzBordered]="false">
			<nz-collapse-panel [nzHeader]="'阴影'" [nzActive]="true">
				<app-panel-widget-shadow [widget]="widget"></app-panel-widget-shadow>
			</nz-collapse-panel>
		</nz-collapse>
	</div>

	<!-- 剪贴蒙版 -->
	<div class="clip-site">
		<nz-collapse [nzBordered]="false">
			<nz-collapse-panel [nzHeader]="'剪贴蒙版'" [nzActive]="true">
				<app-panel-widget-clip-path [widget]="widget"></app-panel-widget-clip-path>
			</nz-collapse-panel>
		</nz-collapse>
	</div>
</div>
