<div class="gallery-picture-checked-main">
    <div class="content">
        <!-- 若进入管理模式则不允许点击确认并选择图片 -->
        <div class="manage-mode" *ngIf="isEnterManageMode">
            <span>当前为管理模式</span>
        </div>
        <!-- 头部已选择多少张 -->
        <div class="header" *ngIf="currentCheckImageList.length > 0">
            <div class="text">
                已选择：
                <span class="color-f70 fs-16">{{ currentCheckImageList.length }}</span>
                张
            </div>
        </div>

        <!-- 文案提示 -->
        <div class="tip-text" *ngIf="!isEnterManageMode">
            <span>{{ nzTipText }}</span>
        </div>

        <!-- 已选中的图片列表 -->
        <div class="checked-picture-container">
            <ul class="aside">
                <li class="aside-column" *ngFor="let list of currentCheckImageList">
                    <div class="left">
                        <div class="thumb mr-10">
                            <ng-thumb-auto [imgSize]="30" [imgSrc]="list.url" [showPreview]="true"></ng-thumb-auto>
                        </div>
                        <span title="{{ list.name }}">{{ list.name }}</span>
                    </div>
                    <div class="right">
                        <i nz-icon type="delete" (click)="acceptDelImage(list)"></i>
                    </div>
                </li>
            </ul>
        </div>

        <!-- 确定 -->
        <div class="footer-btn" *ngIf="currentCheckImageList.length > 0 && !isEnterManageMode">
            <button nz-button nzType="primary" (click)="acceptOkCheckImage()" style="width: 100%;" nzSize="small">
                确定
            </button>
        </div>
    </div>

    <!-- 上传区域 -->
    <div class="upload-container">
        <nz-upload
            nzType="drag"
            [nzMultiple]="true"
            [nzLimit]="10"
            [nzHeaders]="nzHeaders"
            [nzShowUploadList]="false"
            [nzAction]="uploadUrl"
            [nzAccept]="'image/png,image/jpeg,image/jpg'"
            [nzFileType]="'image/png,image/jpeg,image/jpg'"
            [nzBeforeUpload]="beforeUpload"
            (nzChange)="acceptUploadChanged($event)"
        >
            <p class="ant-upload-drag-icon">
                <i nz-icon type="upload" theme="outline"></i>
            </p>
            <p class="ant-upload-text">
                将图片拖到此处或
                <span class="color-f70">点击上传</span>
            </p>
        </nz-upload>
    </div>
</div>
