<div class="navigate-main">
	<div nz-row nzAlign="middle" nzType="flex" nzJustify="center" class="container">
		<div nz-col [nzSpan]="2">
			<span class="title">跳转至：</span>
		</div>
		<div nz-col [nzSpan]="14">
			<nz-select
				style="width: 100%;"
				[(ngModel)]="currentTapNavigateHandler.navUrl"
				(nzOpenChange)="acceptSelectOpenChange($event)"
				[nzPlaceHolder]="'请选择跳转的页面'"
			>
				<nz-option
					*ngFor="let list of pageRouterList$ | async"
					[nzLabel]="list.name"
					[nzValue]="list.router"
					[nzDisabled]="list.isCata"
				>
					<ng-template #nzOptionTemplate>
						<i style="width: 10px;display: inline-block;background-color: #fff;" *ngIf="!list.isCata"></i>
						{{ list.name }}
					</ng-template>
				</nz-option>
			</nz-select>
		</div>
	</div>
</div>
