.img-content {
	max-height: 80px;
	max-width: 80px;
	width: 80px;
	height: 80px;
	overflow: hidden;
	position: relative;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
	a {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 0;
		background-color: rgba(0, 0, 0, 0.6);
		width: 100%;
		color: #fff;
		text-align: center;
	}
}

.navigation-main {
	.tip-text {
		color: #aaa;
		display: inline-block;
		margin-top: 10px;
	}
}

:host ::ng-deep {
	.ant-row {
		margin-bottom: 10px;
	}
	.ant-collapse-content {
		overflow: hidden !important;
	}
	.ant-collapse-borderless > .ant-collapse-item > .ant-collapse-content > .ant-collapse-content-box {
		padding-top: 16px;
	}
	.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
		top: 14px;
		right: 12px;
		left: inherit;
		line-height: inherit;
	}
	.ant-collapse-item {
		.del-nav {
			display: none;
			position: absolute;
			right: 30px;
			top: 4px;
			i {
				font-size: 16px;
			}
		}
		&:hover {
			.del-nav {
				display: inline-block;
			}
		}
	}
}
