<div class="image-group-container">
	<span class="title fs-14 c-999 mb-12 d-b">图片分组</span>
	<div class="group-list-main">
		<ul class="item-ul">
			<ng-container *ngFor="let list of pictureGroupList; index as i">
				<li class="item-li">
					<div
						class="item-container-li"
						[class.active]="currentPictureGroup ? currentPictureGroup.id == list.id : false"
						(click)="acceptCheckGroup(list)"
						(dblclick)="acceptDbClickGroup(list)"
					>
						<ng-container *ngIf="!list.isEnterEdit">
							<div class="left">
								<span>{{ list.name }}</span>
								<span class="ml-10 color-f70">({{ list.total }})</span>
							</div>
							<div class="right">
								<span nz-tooltip nzTitle="删除" *ngIf="list.isAllowDel">
									<i
										nz-icon
										type="delete"
										theme="outline"
										(click)="$event.stopPropagation(); deleteGroup(list)"
									></i>
								</span>
							</div>
						</ng-container>
						<ng-container *ngIf="list.isEnterEdit">
							<input
								[(ngModel)]="list.name"
								class="edit-status-name-input"
								#editInputEl
								(blur)="popEditGroupAffirm(list)"
								nz-input
							/>
						</ng-container>
					</div>
				</li>
			</ng-container>
			<li class="item-li mt-8">
				<button
					nz-button
					nzSize="small"
					style="width: 100%"
					(click)="createGroup()"
					[nzLoading]="isCreateGroupLoading"
				>
					创建分组
				</button>
			</li>
		</ul>
	</div>
</div>
