.image-group-container {
	padding: 15px 10px;
}

.group-list-main {
	.item-ul {
		.item-li {
			.item-container-li {
				padding: 8px 10px;
				padding-right: 15px;
				cursor: pointer;
				display: flex;
				align-items: center;
				justify-content: space-between;
				.left {
					i {
						font-size: 12px;
						margin-right: 8px;
					}
				}
				.right {
					display: none;
				}
				&:hover {
					background-color: #f7f7fa;
					.right {
						display: inline-block;
					}
				}
				&.active {
					color: #415058;
					font-weight: 700;
					background-color: #f1f1f5;
				}
			}
		}
	}
}

.edit-status-name-input {
	border: none;
	border-radius: 0;
	border-bottom: 2px solid #ff7700;
	background-color: transparent;
	outline: none;
	box-shadow: none;
}
