<div class="picture-site-main">
    <!-- 图片设置 -->
    <div class="picture-site">
        <nz-collapse [nzBordered]="false">
            <nz-collapse-panel [nzHeader]="'图片'" [nzActive]="true">
                <app-panel-widget-picture
                    [widget]="widget"
                    (launchEmitFacadeValueChange)="acceptFacadeValueChange($event)"
                ></app-panel-widget-picture>
            </nz-collapse-panel>
        </nz-collapse>
    </div>

    <!-- 外观设置 -->
    <div class="facade-site">
        <nz-collapse [nzBordered]="false">
            <nz-collapse-panel [nzHeader]="'外观'" [nzActive]="true">
                <app-panel-widget-facade
                    [widget]="widget"
                    (launchEmitFacadeValueChange)="acceptFacadeValueChange($event)"
                ></app-panel-widget-facade>
            </nz-collapse-panel>
        </nz-collapse>
    </div>

    <!-- 阴影设置 -->
    <div class="shadow-site">
        <nz-collapse [nzBordered]="false">
            <nz-collapse-panel [nzHeader]="'阴影'" [nzActive]="true">
                <app-panel-widget-shadow [widget]="widget"></app-panel-widget-shadow>
            </nz-collapse-panel>
        </nz-collapse>
    </div>

    <!-- 剪贴蒙版 -->
    <div class="clip-site">
        <nz-collapse [nzBordered]="false">
            <nz-collapse-panel [nzHeader]="'剪贴蒙版'" [nzActive]="true">
                <app-panel-widget-clip-path [widget]="widget"></app-panel-widget-clip-path>
            </nz-collapse-panel>
        </nz-collapse>
    </div>

    <!-- 滤镜设置 -->
    <div class="fliter-site">
        <nz-collapse [nzBordered]="false">
            <nz-collapse-panel [nzHeader]="'滤镜'" [nzActive]="true">
                <app-panel-widget-filter
                    [widget]="widget"
                    (launchEmitFilterValueChange)="acceptFilterValueChange($event)"
                ></app-panel-widget-filter>
            </nz-collapse-panel>
        </nz-collapse>
    </div>
</div>
