<div class="panel-widget-clip-path-main">
    <div class="clip-path-container">
        <div (click)="createInsetClip()" class="shape" style="clip-path: inset(10%);"></div>
        <div (click)="createCircleClip()" class="shape" style="clip-path: circle(45% at 50% 50%);"></div>
        <div (click)="createEllpiseClip()" class="shape" style="clip-path: ellipse(30% 45% at 50% 50%);"></div>
        <div
            (click)="createPolygon('triangle')"
            class="shape"
            style="clip-path: polygon(50% 0%, 0% 100%, 100% 100%);"
        ></div>
        <div
            (click)="createPolygon('trapezoidal')"
            class="shape"
            style="clip-path: polygon(20% 0%, 80% 0%, 100% 100%, 0% 100%);"
        ></div>
        <div
            (click)="createPolygon('parallelogram')"
            class="shape"
            style="clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);"
        ></div>
        <div
            (click)="createPolygon('diamond')"
            class="shape"
            style="clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);"
        ></div>
        <div
            (click)="createPolygon('pentagon')"
            class="shape"
            style="clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);"
        ></div>
        <div
            (click)="createPolygon('hexagon')"
            class="shape"
            style="clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);"
        ></div>
    </div>
    <div class="clip-path-reset mt-10">
        <button (click)="resetClipData()" nz-button style="width: 100%" nzSize="small">一键取消</button>
    </div>
</div>
