<div class="block">
    <i
        nz-popover
        [nzContent]="alignmentEl"
        nzPlacement="left"
        class="iconfont_xiaochengxu xiaochengxu-chuizhijuzhongduiqi"
    ></i>
    <ng-template #alignmentEl>
        <ul class="dropdown-ul">
            <li class="dropdown-li" (click)="alignWay('left')">
                <div class="dropdown-block" [class.disable]="!isAlign">
                    <i class="iconfont_xiaochengxu xiaochengxu-zuoduiqi"></i>
                    <span>左对齐</span>
                </div>
            </li>
            <li class="dropdown-li" (click)="alignWay('center')">
                <div class="dropdown-block" [class.disable]="!isAlign">
                    <i class="iconfont_xiaochengxu xiaochengxu-chuizhijuzhongduiqi"></i>
                    <span>水平居中</span>
                </div>
            </li>
            <li class="dropdown-li" (click)="alignWay('right')">
                <div class="dropdown-block" [class.disable]="!isAlign">
                    <i class="iconfont_xiaochengxu xiaochengxu-zuoduiqi" style="transform: rotateY(180deg);"></i>
                    <span>右对齐</span>
                </div>
            </li>
            <li class="dropdown-li" (click)="alignWay('top')">
                <div class="dropdown-block" [class.disable]="!isAlign">
                    <i class="iconfont_xiaochengxu xiaochengxu-zuoduiqi" style="transform: rotate(90deg);"></i>
                    <span>顶部对齐</span>
                </div>
            </li>
            <li class="dropdown-li" (click)="alignWay('trancenter')">
                <div class="dropdown-block" [class.disable]="!isAlign">
                    <i
                        class="iconfont_xiaochengxu xiaochengxu-chuizhijuzhongduiqi"
                        style="transform: rotate(90deg);"
                    ></i>
                    <span>垂直居中</span>
                </div>
            </li>
            <li class="dropdown-li" (click)="alignWay('bottom')">
                <div class="dropdown-block" [class.disable]="!isAlign">
                    <i class="iconfont_xiaochengxu xiaochengxu-zuoduiqi" style="transform: rotate(-90deg);"></i>
                    <span>底部对齐</span>
                </div>
            </li>
            <li class="dropdown-li" (click)="alignWay('crosswiseEquidistance')">
                <div class="dropdown-block" [class.disable]="!isEqualDistanceSet">
                    <i class="iconfont_xiaochengxu xiaochengxu-tupianjuzhongduiqi-copy"></i>
                    <span>水平等间距</span>
                </div>
            </li>
            <li class="dropdown-li" (click)="alignWay('verticalEquidistance')">
                <div class="dropdown-block" [class.disable]="!isEqualDistanceSet">
                    <i class="iconfont_xiaochengxu xiaochengxu-tupianjuzhongduiqi"></i>
                    <span>垂直等间距</span>
                </div>
            </li>
        </ul>
    </ng-template>
</div>
