.tabbar-main {
	ul.ul-item {
		display: flex;
		height: 100%;
		justify-content: space-around;
		align-items: center;
		li.li-list {
			max-width: 50px;
			.content {
				text-align: center;
				display: flex;
				flex-direction: column;
				align-items: center;
				.icon {
					img {
						width: 100%;
						height: 100%;
						object-fit: cover;
					}
				}
				.title {
				}
			}
		}
	}
}
