.panel-quick-main {
    .content {
        display: flex;
        justify-content: space-between;
        & > div {
            flex: 1;
        }
        .shortcut {
            display: flex;
            justify-content: space-between;
            width: 100%;
            height: 36px;
            font-size: 14px;
            line-height: 36px;
            border-bottom: 1px solid #ddd;
            .key {
                color: #aaa;
                .for-others {
                    // display: none;
                }
            }
        }
    }
}
