<div class="gallery-picture-column-main">
	<!-- 图片列表 -->
	<div class="picture-list-container">
		<nz-spin [nzSpinning]="isVisibleLoading">
			<ng-container *ngIf="currentPictureList.length > 0; else nonePictureListEl">
				<ul class="asside" id="image-gallery-asside">
					<li
						class="asside-column"
						*ngFor="let list of currentPictureList; index as i"
						[class.active]="list.isActive"
						(click)="acceptChooseImageCard(list)"
					>
						<div class="card-block">
							<nz-card
								style="width:180px;"
								[nzCover]="coverTemplate"
								[nzActions]="isEnterManageMode ? [actionEditNameEl, actionDelEl] : []"
								nzHoverable
							>
								<nz-card-meta [nzTitle]="cardMetaTitleEl"></nz-card-meta>
							</nz-card>
						</div>
						<ng-template #cardMetaTitleEl>
							<ng-container *ngIf="list.isEnterEditName">
								<input
									(keyup.enter)="popEditImageAffirm(list)"
									[(ngModel)]="list.name"
									class="edit-status-name-input"
									(click)="$event.stopPropagation()"
									#editInputNameEl
									(blur)="popEditImageAffirm(list)"
									nz-input
								/>
							</ng-container>
							<ng-container *ngIf="!list.isEnterEditName">
								<span title="{{ list.name }}">{{ list.name }}</span>
							</ng-container>
						</ng-template>
						<ng-template #coverTemplate>
							<ng-thumb-auto [imgSize]="180" [imgSrc]="list.url"></ng-thumb-auto>
						</ng-template>
						<ng-template #actionEditNameEl>
							<i
								nz-icon
								type="edit"
								nz-tooltip="修改名称"
								(click)="$event.stopPropagation(); acceptEditName(list)"
							></i>
						</ng-template>
						<ng-template #actionDelEl>
							<i
								nz-icon
								type="delete"
								nz-tooltip="删除图片"
								(click)="$event.stopPropagation(); acceptDelImageConfirm(list, i)"
							></i>
						</ng-template>
					</li>
				</ul>
			</ng-container>
			<ng-template #nonePictureListEl>
				<div class="none-picture-list-container" *ngIf="!isVisibleLoading">
					<span>该分组还没有图片，请点击右下角上传</span>
				</div>
			</ng-template>
		</nz-spin>

		<!-- 加载更多 -->
		<div class="footer-add-more t-c" *ngIf="isNextPage">
			<button nz-button (click)="addMorePicture()">加载更多</button>
		</div>
	</div>

	<!-- 操作栏 -->
	<div class="operation-arbor">
		<div class="asside-manage" (click)="acceptChangeManageMode()">
			<div class="block">
				<span>{{ isEnterManageMode ? "完成" : "管理" }}</span>
			</div>
		</div>
		<ul class="arbor-asside" [ngStyle]="{ height: isEnterManageMode ? '116px' : '0' }">
			<li class="arbor-asside-column">
				<div class="block">
					<label
						nz-checkbox
						nzTitle="全选"
						nzPlacement="left"
						nz-tooltip
						[ngModel]="isCheckAll"
						(ngModelChange)="acceptCheckAll($event)"
					></label>
				</div>
			</li>
			<li class="arbor-asside-column">
				<ng-container *ngIf="!isAllowDelOrGroupChecked">
					<div class="block">
						<i class="disable" nz-icon type="folder-open"></i>
					</div>
				</ng-container>
				<ng-container *ngIf="isAllowDelOrGroupChecked">
					<div
						class="block"
						nz-popover
						[nzContent]="checkGroupEl"
						nzPlacement="left"
						[nzTitle]="checkGroupTitleEl"
						[(nzVisible)]="isVisibleEditGroupPopover"
					>
						<i [class.disable]="!isAllowDelOrGroupChecked" nz-icon type="folder-open"></i>
					</div>
					<ng-template #checkGroupTitleEl>
						<span class="edit-group-title">移动至</span>
					</ng-template>
					<ng-template #checkGroupEl>
						<div class="edit-group-container">
							<ng-container *ngIf="pictureGroupList.length < 3; else otherSelectGroupEl">
								<span class="none-move-group">无可移动的分组</span>
							</ng-container>
							<ng-template #otherSelectGroupEl>
								<ul class="asside">
									<ng-container *ngFor="let list of pictureGroupList; index as i">
										<li class="asside-item" *ngIf="i >= 2" (click)="acceptCheckMoveGroup(list)">
											<div class="block" [class.disable]="currentPictureGroup.id == list.id">
												<span>{{ list.name }}</span>
											</div>
										</li>
									</ng-container>
								</ul>
							</ng-template>
						</div>
					</ng-template>
				</ng-container>
			</li>
			<li class="arbor-asside-column">
				<div class="block">
					<i
						[class.disable]="!isAllowDelOrGroupChecked"
						nz-icon
						type="delete"
						nz-tooltip="批量删除图片"
						nzPlacement="left"
						(click)="acceptDelBatchImage()"
					></i>
				</div>
			</li>
		</ul>
		<!-- 退出 -->
		<div class="arbor-asside-exit" (click)="acceptCloseImageGallery()">
			<div class="block">
				<span>退出</span>
			</div>
		</div>
	</div>
</div>
