:host ::ng-deep {
	.ant-tabs-nav .ant-tabs-tab {
		margin-right: 0;
	}
}

.hide {
	display: none !important;
}

.event-entrance {
	position: absolute;
	display: flex;
	align-items: center;
	.line {
		width: 20px;
		border-radius: 5px;
		height: 2px;
		background-color: currentColor;
		margin-right: -4px;
		&.checked {
			background-color: #ff7700;
		}
	}
	.handler {
		cursor: pointer;
		pointer-events: all;
		i {
			font-size: 14px;
			font-weight: bolder;
			color: currentColor;
			border: 2px solid currentColor;
			border-radius: 50%;
			padding: 3px;
			background-color: white;
		}
		&.checked {
			color: #ff7700;
		}
	}
}

// .panel-event-main {
//     position: absolute;
//     pointer-events: all;
//     background-color: #fff;
//     background-clip: padding-box;
//     border-radius: 4px;
//     box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
//     width: 260px; // height: 210px;
//     padding: 5px 10px;
//     padding-bottom: 15px;
//     &:after {
//         position: absolute;
//         content: '';
//         display: inline-block;
//         width: 15px;
//         height: 15px;
//         left: -4px;
//         top: 16px;
//         box-shadow: -6px 6px 8px -4px rgba(0, 0, 0, 0.15);
//         background-color: #fff;
//         transform: rotate(45deg);
//         z-index: 1;
//     }
//     .event-entrance {}
// }
.panel-event-main {
	margin-top: -24px;
}

.event-modal {
	.ant-tabs-tabpane {
		height: 340px;
		max-height: 340px;
	}
}

.max-height-340 {
	height: 340px;
	max-height: 340px;
}

.has-event-popover-container {
	min-width: 140px;
	.event-btn-footer {
		display: flex;
		justify-content: space-between;
	}
}
